/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.theme-container
  background $bgColour
  min-height 100vh

.navbar
  background $bgColour
  
.navbar .links
  background $bgColour!important

.search-box input
  background $bgColour url(/assets/img/search.83621669.svg) 0.6rem 0.5rem no-repeat !important

.search-box .suggestions
  background $bgColour !important

.search-box .suggestion
  background $bgColour

.search-box .suggestion.focused
  background lighten($bgColour, 5%) !important

ul
  background $bgColour

.sidebar
  background $bgColour
  
.icon
  color $accentColor !important

tr:nth-child(2n)
  background $bgColourAlt !important

details
  background $bgColourAlt
  padding 10px

details summary
  cursor pointer

/* Removes empty headers to make tables look nicer. */
th:empty
  display none



.theme-container.table-page-class {
  main > .theme-default-content {
    max-width 40%
  }
}
  