/**
 * Custom palette here.
 *
 * ref：https://v1.vuepress.vuejs.org/zh/config/#palette-styl
 */

$accentColor = #26A96C
$textColor = #F6FEAA
$borderColor = #32936F
$codeBgColor = #282c34
$bgColour = #00352A